<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Input Expenses') }}</h1>
{% include 'flash.html' %}

<style>
        .panel {
        position: absolute;
        top: 50px;
        left: 0;
        display: none;
        background: Silver;
        border:1px solid #111111;
        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -webkit-border-bottom-right-radius: 20px;
        width: 500px;
        height: auto;
        padding: 10px 10px 10px 10px;
        filter: alpha(opacity=85);
        opacity: .95;
        }

        .panel p{
        margin: 0 0 1px 0;
        padding: 0;
        color: #cccccc;
        }

        .panel a, .panel a:visited{
        margin: 0;
        padding: 0;
        color: #9FC54E;
        text-decoration: none;
        border-bottom: 1px solid #9FC54E;
        }

        .panel a:hover, .panel a:visited:hover{
        margin: 0;
        padding: 0;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        }

        a.trigger{
        position: absolute;
        text-decoration: none;
        top: 80px; left: 0;
        font-size: 12px;
        letter-spacing:-1px;
        font-family: verdana, helvetica, arial, sans-serif;
        color:#fff;
        padding: 10px 10px 10px 10px;
        font-weight: 700;
        background:#333333 url(images/plus.png) 85% 55% no-repeat;
        border:1px solid #444444;
        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        display: block;
        }

        a.trigger:hover{
        position: absolute;
        text-decoration: none;
        top: 80px; left: 0;
        font-size: 16px;
        letter-spacing:-1px;
        font-family: verdana, helvetica, arial, sans-serif;
        color:#fff;
        padding: 20px 40px 20px 20px;
        font-weight: 700;
        background:#222222 url(images/plus.png) 85% 55% no-repeat;
        border:1px solid #444444;
        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        display: block;
        }

        a.active.trigger {
        background:#222222 url(images/minus.png) 85% 55% no-repeat;
        }




        .tp_results_panel {
        position: absolute;
        top: 50px;
        left: 0;
        display: none;
        background: White;
        border:1px solid #111111;
        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -webkit-border-bottom-right-radius: 20px;
        width: auto;
        height:500px;overflow-y:auto;
        padding: 1px 1px 1px 1px;
        }

        .tp_results_panel p{
        margin: 0 0 1px 0;
        padding: 0;
        color: Black;
        }

        .tp_results_panel a, .tp_results_panel a:visited{
        margin: 0;
        padding: 0;
        color: Black;
        text-decoration: none;
        border-bottom: 1px solid #9FC54E;
        }

        .tp_results_panel a:hover, .tp_results_panel a:visited:hover{
        margin: 0;
        padding: 0;
        color: Black;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        }


        .tp_results_table, th, td{

        border: 1px solid black;
        border-collapse: collapse;
        }
        td {
            padding: 15px;
        }
  
        tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
</style>

<div class="well">


	    <form id = "input_expenses" form class="form-horizontal" action="" method="post" name="post">
		{{form.hidden_tag()}}
		<td>{{ form.id }}</td>
		<td>{{ form.next_step }}</td>
		<td>{{ form.rental_days }}</td>
		<td>{{ form.hotel_days }}</td>
		<td>{{ form.no_flights }}</td>
		<td>{{ form.commute_days }}</td>
		<td>{{ form.no_vacations }}</td>
		<td>{{ form.total_exclusion_days }}</td>
		<td>{{ form.no_holidays }}</td>
		<td>{{ form.no_sickdays }}</td>
		
		
		
		
		
		

<div class="row">

	<div class="span5">

		<div class="control-group{% if form.errors.post %} error{% endif %}">
		    <label class="control-label"  for="description">{{ _('Contract Description:') }}</label>
		    <div class="controls" >
		        {{ form.description(ReadOnly = True,cols = 1, rows = 1, class = "span4")  }}

		        {% for error in form.errors.description %}
		            <span class="help-inline">[{{error}}]</span><br>
		        {% endfor %}
		    </div>
		</div>
	</div>


	<div class="span3">
		<div class="control-group">
		    <label class="control-label"  for="start_date">{{ _('Start Date:') }}	    </label>            
		    <div class="controls" >

		        {{ form.start_date(ReadOnly = True,cols = 1, rows = 1, class = "span2")  }}

		        {% for error in form.errors.start_date %}
		            <span class="help-inline">[{{error}}]</span><br>
		        {% endfor %}
		    </div>

		</div>	
	</div>
	<div class="span3">

		<div class="control-group">
		    <label class="control-label"  for="end_date">{{ _('End Date:') }}</label>
		    <div class="controls" >
		        {{ form.end_date(ReadOnly = True,cols = 1, rows = 1, class = "span2")  }}

		        {% for error in form.errors.end_date %}
		            <span class="help-inline">[{{error}}]</span><br>
		        {% endfor %}
		    </div>
		</div>	
	</div>

	</div>


    

<div class="row">
<div class="span2">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="is_rent_acar">{{ _('Rent A Car:') }}</label>
            <div class="controls"  input type="checkbox">

                {{ form.is_rent_acar( )  }}

                {% for error in form.errors.is_rent_acar %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="rental_st_day">{{ _('Start Day:') }}</label>
            <div class="controls"  >

                {{ form.rental_st_day(cols = 2, rows = 3, class = "span1")  }}

                {% for error in form.errors.rental_st_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	



</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="rental_end_day">{{ _('End Day:') }}</label>
            <div class="controls"  >
		
                {{ form.rental_end_day(cols = 4, rows = 2, class = "span1")  }}
		
                {% for error in form.errors.rental_end_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	
</div>

<div class="span2">


        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="rental_car_rate">{{ _('Daily Rate:') }}</label>
            <div class="controls" >

                {{  form.rental_car_rate(cols = 1, rows = 1, class = "span1") }}
                {% for error in form.errors.rental_car_rate %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        </div>
        </div>


<div class="row">
<div class="span2">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="is_mileage">{{ _('Mileage Expense:') }}</label>
            <div class="controls"  input type="checkbox">

                {{ form.is_mileage()  }}

                {% for error in form.errors.is_miles %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="commute_st_day">{{ _('Start Day:') }}</label>
            <div class="controls"  >

                {{ form.commute_st_day(cols = 3, rows = 2, class = "span1")  }}

                {% for error in form.errors.commute_st_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	
</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="commute_end_day">{{ _('End Day:') }}</label>
            <div class="controls"  >

                {{ form.commute_end_day(cols = 4, rows = 2, class = "span1")  }}

                {% for error in form.errors.commute_end_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	
</div>
</div>
<div class="row">

<div class="span2 offset2">
<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="daily_milies">{{ _('Daily Miles:') }}</label>
            <div class="controls">
                {{ form.daily_miles(cols = 1, rows = 2, class = "span1") }}
                {% for error in form.errors.daily_miles %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

	
</div>
<div class="span2 offset1">
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="mileage_rate">{{ _('Mileage Rate:') }}</label>
            <div class="controls">
                {{ form.mileage_rate(cols = 1, rows = 2, class = "span1") }}
                {% for error in form.errors.mileage_rate %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

</div>

        </div>
<div class="row">
<div class="span2">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="is_hotel">{{ _('Hotel Stay:') }}</label>
            <div class="controls"  input type="checkbox">

                {{ form.is_hotel()  }}

                {% for error in form.errors.is_hotel %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="hotel_st_day">{{ _('Start Day:') }}</label>
            <div class="controls"  >

                {{ form.hotel_st_day(cols = 3, rows = 2, class = "span1")  }}

                {% for error in form.errors.hotel_st_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	
</div>
<div class="span3">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="hotel_end_day">{{ _('End Day:') }}</label>
            <div class="controls"  >

                {{ form.hotel_end_day(cols = 4, rows = 2, class = "span1")  }}

                {% for error in form.errors.hotel_end_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>

        </div>	
</div>
</div>
<div class="row">
<div class="span2 offset2">



        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="hotel_rate">{{ _('Nightly Rate:') }}</label>
            <div class="controls">
                {{  form.hotel_rate(cols = 1, rows = 1, class = "span1")}}
                {% for error in form.errors.hotel_rate %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        </div>

<div class="span2 offset1">

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="daily_expense">{{ _('Daily Expense:') }}</label>
            <div class="controls">
                {{  form.daily_expense(cols = 1, rows = 1, class = "span1")}}
                {% for error in form.errors.daily_expense %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>


        </div>

        </div>
<div class="row">
<div class="span2">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="is_flight">{{ _('Flight Trip:') }}</label>
            <div class="controls"  input type="checkbox">

                {{ form.is_flight()  }}

                {% for error in form.errors.is_flight %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
<div class="span2">
	
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="flight_ticket">{{ _('Round Trip Ticket:') }}</label>
            <div class="controls">
                {{ form.flight_ticket(cols = 1, rows = 2, class = "span1") }}
                {% for error in form.errors.flight_ticket %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        </div>
        </div>

<div class="row">
<div class="span2">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="is_airport_pickup">{{ _('Airport Pickup & Dropoff:') }}</label>
            <div class="controls"  input type="checkbox">

                {{ form.is_airport_pickup()  }}

                {% for error in form.errors.is_airport_pickup %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
<div class="span2">
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="airport_pickup">{{ _('Pickup & Dropoff Charge:') }}</label>
            <div class="controls">
                {{ form.airport_pickup(cols = 1, rows = 2, class = "span1") }}
                {% for error in form.errors.airport_pickup %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

</div>

        </div>


<div class="row">
<div class="span1 offset2">

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="expense">{{ _('Total Expense:') }}</label>
            <div class="controls">
                {{ form.expense( ReadOnly =True,class = "span2") }}
                {% for error in form.errors.expense %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

    </div>
<div class="span2 offset3">
	<a href="javascript:calculate_expenses();">{{ _('Calculate') }}</a>
</div>

<div class="panel">


<div class="row">
<div class="span1">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="tp_from">{{ _('From:') }}</label>
            <div class="controls"  >

                {{ form.tp_from(cols = 2)  }}

                {% for error in form.errors.tp_from %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
</div>
<div class="row">
<div class="span1">
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="tp_to">{{ _('To:') }}</label>
            <div class="controls">
                {{ form.tp_to(cols = 2) }}
                {% for error in form.errors.tp_to %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

</div>

</div>
<div class="row">


<div class="span1">

	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="tp_depart_date">{{ _('Departure Date:') }}</label>
            <div class="controls"  >

                {{ form.tp_depart_date(cols = 2)  }}

                {% for error in form.errors.tp_depart_date %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>	
</div>
</div>
<div class="row">
<div class="span1">
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="tp_return_date">{{ _('Return Date:') }}</label>
            <div class="controls">
                {{ form.tp_return_date(cols = 2) }}
                {% for error in form.errors.tp_return_date %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

</div>

</div>

        <div class="control-group">
            <div class="controls">
                <div class="row">
                <div class="span1">
            
                <input class="btn btn-primary" id = tp_search type="button" value="{{ _('Search') }}">
                </div>
                <div class="span2">
                <p><img id="ajaxBusy" src="/static/img/spiffygif_30x30.gif"></p>
                </div>
                </div>
            </div>
            
        </div>

        


</div>
</div>


<div class="tp_results_panel">

        <h2> Search Results </h2>
<table id = "tp_results_table" class="tp_results_table "> 
<!--
        <thead>  
          <tr>  
            <th>Carrier</th>                          
            <th>FlightNumber</th>                     
            <th>Origin</th>  
            <th>Destination</th>  
            <th>DepartureTime</th> 
            <th>ArrivalTime</th>
            <th>FlightTime</th>
            <th>Distance</th>
          </tr>  
        </thead>  

-->

</table> 

</div>

<a id ="trigger" class="trigger" href="#">TravelPort</a>





	
        <div class="control-group">
            <div class="controls">
                 <input class="btn btn-primary" type="submit" value="{{ _('Save') }}"><a href="{{ url_for('contracts_list') }}"> <input class="btn btn-primary" type="button" value="{{ _('Close') }}"></a>
<input class="btn btn-primary" id = other type="button" value="{{ _('Other Deductions') }}">

<!--
<input class="btn btn-primary"  type="button" value="{{ _('Cost Estimator') }}"> </a>
-->

            </div>
        </div>



<script>

$( document ).ready(function(){
   $( "#other" ).click(function() {
	document.getElementById('next_step').value = 'input_other_deductions';	
	$( "#input_expenses" ).submit(); 
    });
});

$(document).ready(function(){
	$(".trigger").click(function(){
	         
	        if (this.innerHTML == 'TravelPort'){
		        $(".panel").toggle("fast");
		        
		        }
		else{
		        $(".tp_results_panel").toggle("fast");
		        $(".panel").toggle("fast");
		        this.innerHTML  = "TravelPort";
                }
		                
		$(this).toggleClass("active");
		return false;
	});
});

$(document).ready(function(){
	$("#tp_search").click(function(){
	tp_searchflights();
        document.getElementById("trigger").innerHTML  = "Search";
	});
});

$(document).ready(function() {
 
// Setup the ajax indicator
//$('panel').append('<div id="ajaxBusy"><p><img src="static/img/loading.gif"></p></div>');
 
$('#ajaxBusy').css({
display:"none",
margin:"0px",
paddingLeft:"2px",
paddingRight:"2px",
paddingTop:"2px",
paddingBottom:"2px",
position:"absolute",
right:"3px",
top:"3px",
width:"auto"
});
});
 
// Ajax activity indicator bound to ajax start/stop document events
$(document).ajaxStart(function(){
$('#ajaxBusy').show();
}).ajaxStop(function(){
$('#ajaxBusy').hide();
});

</script>


    </form>
</div>

</form>


{% endblock %}
