<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Input Income') }}</h1>
{% include 'flash.html' %}

<script  >
//$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

</script>

<div class="well">
    <form id = "input_income_form" class="form-horizontal" action="" method="post" name="input_income_form" >
        {{form.hidden_tag()}}
	<td>{{ form.id }}</td>
        <td>{{ form.total_days }}</td>
	<td>{{ form.total_weekends }}</td>
	<td>{{ form.total_exclusion_days }}</td>
	<td>{{ form.next_step }}</td>
	
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="description">{{ _('Contract Description:') }}</label>
            <div class="controls" >
                {{ form.description(cols = 1, rows = 1, class = "span4")  }}
                {% for error in form.errors.description %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

<div class="row">
<div class="span3">

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label"  for="start_date">{{ _('Start Date:') }}</label>
            <div class="controls" >
                {{  form.start_date(cols = 1, rows = 1, class = "span2") }}
                {% for error in form.errors.start_date %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
</div>
<div class="span3">

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="end_date">{{ _('End Date:') }}</label>
            <div class="controls">
                {{  form.end_date(cols = 1, rows = 1, class = "span2")}}
                {% for error in form.errors.end_date %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
</div>
</div>
	
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="no_vacations">{{ _('No of vacations:') }}</label>
            <div class="controls">
                {{ form.no_vacations(cols = 1, rows = 2, class = "span1") }}
                {% for error in form.errors.no_vacations %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
	<div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="no_holidays">{{ _('No of holidays:') }}</label>
            <div class="controls">
                {{ form.no_holidays(cols = 2, rows = 2, class = "span1") }}
                {% for error in form.errors.no_holidays %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>


        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="no_sickdays">{{ _('No of sick days:') }}</label>
            <div class="controls">
                {{ form.no_sickdays(cols = 3, rows = 2, class = "span1") }}
                {% for error in form.errors.no_sickdays %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="hourly_rate">{{ _('Hourly Rate:') }}</label>
            <div class="controls">
                {{ form.hourly_rate(cols = 1, rows = 3, class = "span1") }}
                {% for error in form.errors.hourly_rate %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="work_hours">{{ _('Work Hours/Day:') }}</label>
            <div class="controls">
                {{ form.work_hours(cols = 2, rows = 3, class = "span1") }}
                {% for error in form.errors.work_hours %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

<div class="row">
<div class="span3">

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="exclude_nth">{{ _('Exclude :') }}</label>
            <div class="controls">
                {{ form.exclude_nth(cols = 2, rows = 3, class = "span1") }}
                {% for error in form.errors.exclude_nth %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
</div>
<div class="span3">
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="exclude_day">{{ _('Day:') }}</label>
            <div class="controls">
                {{ form.exclude_day(cols = 2, rows = 3, class = "span1") }}
                {% for error in form.errors.exclude_day %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

</div>
</div>

        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="income">{{ _('Total Contract Income:') }}</label>
            <div class="controls">
                {{ form.income( ReadOnly =True, cols = 2, rows = 3, class = "span2") }} <a href="javascript:calculate_income();">{{ _('Calculate') }}</a>
                {% for error in form.errors.income %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
	
        <div class="control-group">
            <div class="controls">
                 <input class="btn btn-primary" type="submit" value="{{ _('Save') }}"><a href="{{ url_for('contracts_list') }}"> <input class="btn btn-primary" type="button" value="{{ _('Close') }}"></a>
<input class="btn btn-primary" id=deduct type="button" value="{{ _('Enter Deductions') }}">
<input class="btn btn-primary" id=saveas type="button" value="{{ _('Save As') }}">
            </div>
        </div>


<script>

$( document ).ready(function(){
   $( "#deduct" ).click(function() {
	document.getElementById('next_step').value = 'input_expenses';	
	$( "#input_income_form" ).submit(); 
    });
});



$( document ).ready(function(){
   $( "#saveas" ).click(function() {
        var new_desc = prompt('Description' , document.getElementById('description').value +'_Copy') ;
        if (new_desc !=''){
        document.getElementById('description').value = new_desc;
	document.getElementById('next_step').value = 'save_as';	
	$( "#input_income_form" ).submit(); 
	}
	
    });
    
    

});

if (document.getElementById('id').value == 0 || document.getElementById('id').value == '' ){
            document.getElementById("saveas").disabled = true;
    }        
</script>


    </form>
</div>

</form>
{% endblock %}
